In [1]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv")
df['Circulation Active Year']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
437110    2004.0
437111    2004.0
437112    2004.0
437113    2004.0
437114    2004.0
Name: Circulation Active Year, Length: 437115, dtype: float64

In [2]:
2019 - df['Circulation Active Year']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
437110    15.0
437111    15.0
437112    15.0
437113    15.0
437114    15.0
Name: Circulation Active Year, Length: 437115, dtype: float64

In [3]:
df.isna().sum()

Patron Type Code                    0
Patron Type Definition              0
Total Checkouts                     0
Total Renewals                      0
Age Range                         927
Home Library Code                   2
Home Library Definition             0
Circulation Active Month        40592
Circulation Active Year         40592
Notice Preference Code              0
Notice Preference Definition        0
Provided Email Address              0
Year Patron Registered              0
Within San Francisco County         0
dtype: int64

In [7]:
df[df['Age Range'].isna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
349,0,Adult,0,0,NaN,x,Main,NaN,NaN,z,Email,True,2019,True
634,3,Senior,0,0,NaN,ylw,Bookmobile,NaN,NaN,p,Phone,False,2019,True
801,0,Adult,0,0,NaN,x,Main,NaN,NaN,a,Print,False,2019,True
926,15,Teacher Card,0,0,NaN,x,Main,NaN,NaN,z,Email,True,2020,True
949,15,Teacher Card,0,0,NaN,x,Main,NaN,NaN,z,Email,True,2020,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429549,5,Staff,32,9,NaN,x,Main,December,2018.0,z,Email,True,2003,True
430618,55,Retired Staff,914,393,NaN,x,Main,July,2018.0,z,Email,True,2003,True
432900,0,Adult,837,262,NaN,r3,Richmond,July,2017.0,z,Email,True,2003,True
436533,5,Staff,102,55,NaN,yb,Bookmobile,October,2012.0,z,Email,True,2007,True
436599,5,Staff,25,0,NaN,x,Main,June,2012.0,z,Email,True,2008,True

In [8]:

df[df['Age Range'].notna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,1,Juvenile,0,0,0 to 9 years,r3,Richmond,NaN,NaN,z,Email,True,2022,True
1,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2022,True
2,0,Adult,0,0,35 to 44 years,m4,Merced,NaN,NaN,z,Email,True,2019,True
3,2,Teen,0,0,10 to 19 years,x,Main,NaN,NaN,z,Email,True,2021,True
4,2,Teen,0,0,10 to 19 years,b2,Bayview,NaN,NaN,z,Email,True,2013,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437110,0,Adult,14,11,45 to 54 years,x,Main,August,2004.0,z,Email,True,2003,False
437111,0,Adult,2,0,45 to 54 years,x,Main,August,2004.0,z,Email,True,2003,True
437112,3,Senior,5,0,75 years and over,e7,Eureka Valley,August,2004.0,p,Phone,False,2003,True
437113,3,Senior,4,0,65 to 74 years,m6,Mission,August,2004.0,z,Email,True,2004,True
437114,3,Senior,3,9,65 to 74 years,p9,Presidio,August,2004.0,z,Email,True,2004,True

In [9]:
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')

In [10]:
df['Circulation Active Year']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
437110    2004.0
437111    2004.0
437112    2004.0
437113    2004.0
437114    2004.0
Name: Circulation Active Year, Length: 437115, dtype: float64

In [12]:
import numpy as np

np.int_(df['Circulation Active Year'])

array([-9223372036854775808, -9223372036854775808, -9223372036854775808,
       ...,                 2004,                 2004,
                       2004])